[submodule "LQFP48-Breakout"]
	path = LQFP48-Breakout
	url = git@github.com:toyoshim/LQFP48-Breakout.git
[submodule "_Library/digikey-kicad-library"]
	path = _Library/digikey-kicad-library
	url = https://github.com/Digi-Key/digikey-kicad-library.git
[submodule "_Library/toyoshim-kicad-public-library"]
	path = _Library/toyoshim-kicad-public-library
	url = git@github.com:toyoshim/toyoshim-kicad-public-library.git
[submodule "IONA-JS3"]
	path = IONA-JS3
	url = git@github.com:toyoshim/IONA-JS3.git
[submodule "PENGO2JAMMA"]
	path = PENGO2JAMMA
	url = git@github.com:toyoshim/PENGO2JAMMA.git
